<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870537563499-qk0sc15drk658umdpvbp3gtl6l31khtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870537563499-qk0sc15drk658umdpvbp3gtl6l31khtm</string>
	<key>API_KEY</key>
	<string>AIzaSyA3LNN70rS-t53-_2-nT98uoz4ZH6bdcq8</string>
	<key>GCM_SENDER_ID</key>
	<string>870537563499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carrotMarket</string>
	<key>PROJECT_ID</key>
	<string>carrot-market-282</string>
	<key>STORAGE_BUCKET</key>
	<string>carrot-market-282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870537563499:ios:060015facdfabbb910902e</string>
</dict>
</plist>